{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} À propos...{% endblock %}

{% block body %}
    <h2 class="form-title">À propos...pourquoi ce site ?</h2>
    <p class="about">Ce site a été développé à des fins de présentation du savoir faire de son auteur, Sébastien VIOLANTE.
    Son contenu n'a pour but que de mettre en oeuvre les différentes fonctionnalités, à savoir : présentation de cartes, 
    recherches par catégories d'articles, possibilité d'émettre un commentaire, possibilité de contacter l'administrateur du site.</p>
    <p>Si le contenu des articles présentent un aspect raciste, immoral ou discriminatoire, toute personne peut en avertir l'administrateur 
    du site via le formulaire de contact (accès par le menu "contact" de la barre de navigation)</p>
    <p>Le site est accessible par internet et il est possible à quiconque de s'inscrire pour créer un compte puis de rédiger des articles. Dans 
    ce cas, tout nouvel inscrit s'engage à respecter les conditions générales d'utilisations, accessibles via la barre de navigation 
    par le menu "CGU". </p>
{% endblock %}


