.agreeTerm {
    margin-top: 2em;
}

.form-control {
    font-weight: bold;
}

.form-label {
    margin-top:1em !important;
    font-style: italic;
}

.form-title {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.form-btn {
    width: 100%;
    max-width: 400px;
    margin-top: 1em ;
}

.mb-3 {
    display: flex;
    justify-content: center;
}

form .image-preview img {
    height: 150px;
    width: auto;
    padding: 1em;
}