.password 
{
    position: relative;
}
.password-icon 
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.password-icon:hover 
{
    cursor: pointer;
    color:var(--main-color);
}
.password-icon .feather-eye-off 
{
    display:none;
}
.register 
{
    width: 50%;
    min-width: 280px;
    padding: 0.5em;
    text-align: center;
    margin: 2em auto;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.register p 
{
    margin: 0;
}


