.register {
    width: 50%;
    min-width: 280px;
    padding: 0.5em;
    text-align: center;
    margin: 2em auto;
    background-color: rgb(220, 212, 212);
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register p {
    margin: 0;
}