.single-article .article-image {
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    }

.single-article .article-image img{
  
    
}

.single-article .article-details {
    padding: 20px 0;

}

.content {
    text-align: justify;
}