.single-article .article-image {
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    border-radius: 1em;
    }

.single-article .article-details {
    padding: 20px 0;
}

.content {
    text-align: justify;
}