.btn-center 
{
    display: flex;
    justify-content: center;
    border: none;
}
.header1, .header2, .header3 
{
    width: 30%;
    min-width: 200px;
}
.img-container 
{
    height: 250px;
    width: 100%;
    overflow: hidden;
}
.img-edit img 
{
    max-width: 300px;
    min-width: 200px;
    width: auto;
}
.readmore 
{
    font-weight: bold;
    font-style: italic;
    float: left;
    margin-top:0.5em;
    color: var(--main-color);
}
table 
{
    border: 3px solid rgb(222, 215, 215) !important;
}
table td, table th 
{
    border: 1px solid #ccc
}
table td img 
{
    width:100%;
    min-height: 250px; 
}
table td .article-content 
{
    overflow:hidden;
}