{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Stack et références{% endblock %}

{% block body %}
<div class="footerpage">
    <h2 class="footerpage-title">Conditions générales d'utilisation du site</h2>
    <p class="footerpage-content"></p>
</div>
{% endblock %}