{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Qui suis-je ?{% endblock %}

{% block body %}
<div class="footerpage">
    <img 
    class="footerpage-picture"
    src="/_assets/pictures/whoiam.webp"
    alt="image du jeu qui suis-je">
    <h2 class="footerpage-title">Qui suis-je ?</h2>
    <p class="footerpge-content"></p>
</div>
{% endblock %}
