{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Qui suis-je ?{% endblock %}

{% block body %}
    <div class="footerpage">
        <img 
        class="footerpage-picture"
        src="/_assets/pictures/profile.jpg" 
        alt="image du jeu qui suis-je">
        <h2 class="footerpage-title">Qui suis-je ?</h2>
        <p class="footerpage-content">Je m'appelle Sébastien VIOLANTE. En 2021, j'ai changé d'horizon.
        Après 29 ans d'aéronautique, principalement à des postes de management technique ou d'auditeur,
        c'est dans le développement web que j'ai décidé de me fixer de nouveaux objectifs.
        Après une formation auprès de la Wild Code School, j'ai obtenu le titre pro DWWM et effectué 
        deux stages de 4 et 5 mois en entreprises.</p>
    </div>
{% endblock %}
