<nav class="navbar sticky-bottom bg-body-tertiary">
  <div class="container-fluid flex">
    <a class="navbar-brand" href="#">Conditions générales</a>
    <div>
      <p class="vertical-align">Qui suis-je ?</p>
      <p class="vertical-align">Me contacter</p>
      <p class="vertical-align">Stack et références</p>
    </div>
    <a class="navbar-brand" href="#">Sticky bottom</a>
  </div>
</nav>