<nav class="footer fixed-bottom bg-body-tertiary">
    <a class="navbar-brand" href="{{ path("app_whoiam")}}">Qui suis-je ?</a>
    <a class="navbar-brand" href="{{ path("app_stack")}}">Stack et références</a>
    <a class="navbar-brand" href="{{ path("app_cgu")}}">Conditions générales</a>
</nav>