<nav class="footer fixed-bottom bg-body-tertiary">
    <a class="navbar-brand" href="#">Qui suis-je ?</a>
    <a class="navbar-brand" href="#">Stack et références</a>
    <a class="navbar-brand" href="#">Conditions générales</a>
</nav>