{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Vous ne devriez pas être là{% endblock %}

{% block body %}
    <div class="blanckpage">
    <img src="/_assets/pictures/picture403.jpg" alt="image de barbelés indiquant un accès interdit">
        <div class="content">
            <h3>Désolé, mais vous ne devriez pas être là.</h3>
            <p class="mt-2">
                Retournez plutôt à : <strong><a href="{{ path('app_home') }}">la page d'accueil</a></strong>
            </p>
        </div>
    </div>
{% endblock %}