{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Vous êtes perdu(e) ?{% endblock %}

{% block body %}
    <div class="blanckpage">
    <img src="/_assets/pictures/desert.jpg" alt="image de haute mer indiquant une mauvaise direction">
        <div class="content">
            <h3>Oups ! On dirait que vous êtes seul(e) ici...</h3>
            <p class="mt-2">
                Cette page n'existe pas. Retournez plutôt à : <strong><a href="{{ path('app_home') }}">la page d'accueil</a></strong>
            </p>
        </div>
    </div>
{% endblock %}