{% extends 'base.html.twig' %}

{% block title %}SV ? Vous ne devriez pas être là{% endblock %}

{% block body %}
    <div class="blanckpage">
    <img src="/_assets/pictures/picture403.jpg" alt="">
        <div class="content">
                <h3>Désolé, mais vous ne devriez pas être là.</h3>
                <p class="mt-2">
                    Retournez plutôt à : <a href="{{ path('app_home') }}">la page d'accueil</a>
                </p>
        </div>
    </div>
{% endblock %}