{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{# Script to use select2 #}
<script>
    $(document).ready(function() {
        $('.choices_categories').select2();
    });
</script>
{# Script to use CKEditor #}
<script>
    ClassicEditor
        .create( document.querySelector( '#article_content' ) )
        .then( editor => {
                console.log( editor );
        } )
        .catch( error => {
                console.error( error );
        } );
</script>
{% endblock %}