{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modifier mon article{% endblock %}

{% block body %}
    <h2 class="form-title">Modifier mon article</h2>
    <div class="ajusted-form">
        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
{# Script to use select2 #}
    <script>
        $(document).ready(function() {
            $('.choices_categories').select2();
            $("input[type='file']").change(function() {
            var file = $(this).get(0).files[0];
            if(file) {
                var reader = new FileReader();
                reader.onload = function() {
                    var img = `<img src='${reader.result}'/>`;
                    $(".image-preview").html(img);
                }
                reader.readAsDataURL(file)
            }
            });
        });
    </script>
    {# Script to use CKEditor #}
    <script>
        ClassicEditor
            .create( document.querySelector( '#article_content' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
    </script>
{% endblock %}